.main-div {
  background-color: rgb(77, 77, 87);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.login-container {
  background-color: rgb(26, 26, 29);
  color: #f0f0f0;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login-logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

#login_text {
  font-size: 35px;
  margin-bottom: 20px;
}

.signup-link a {
  color: #3d7ed3;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
}

.form-group input:focus {
  border-color: #104986;
  background-color: #ffffff;
  color: #333;
}