@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Italiana&display=swap');

* {
  font-family: "Agdasima", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div{
  background-color: rgb(77, 77, 87);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.display-4 {
  font-size: 6.5rem;
}

.lead {
  font-size: 1.5rem; 
}

.home-background {
  background-color: rgb(77, 77, 87);
}

.fundo-cor {
  background-color: rgb(77, 77, 87);
  

}
.centralizado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
