.user-profile-background {
    background-color: rgb(77, 77, 87);
    
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #1e1e20;
    padding: 20px;
    border-radius: 8px;
    margin-left: 12px;
    margin-right: 12px;
}
.edicao{
    background-color: #1e1e20;
}
.margin {
    position: absolute;
    right: 15px;
}
.branco{
    color: white;
}
.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #007bff;
}

.profile-info {
    text-align: left;
}

.profile-name {
    font-size: 32px;
    font-weight: bold;
}

.profile-description, .profile-location {
    font-size: 16px;
    color: #b0b0b0;
}

.profile-stats {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.stat h3 {
    font-size: 24px;
    margin: 0;
}
.fundo-cor {
    background-color: rgb(77, 77, 87);
    
  }
.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
    flex-grow: 1;
}

.favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.card {
    width: 200px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1e1e20;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4d4d;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.remove-favorite-btn:hover {
    background: #ff0000;
}

.list-group-item {
    font-size: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.search-result-item {
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background 0.2s;
}

.search-result-item:hover {
    background-color: #007bff;
}
.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
  }
  
  .form-group input:focus {
    border-color: #104986;
    background-color: #ffffff;
    color: #333;
  }