.main-div{
  background-color: rgb(77, 77, 87);
  flex: 1;
  flex-grow: 1;
}
.fundo-cor {
  background-color: rgb(77, 77, 87);
}

.movie-detail {
  background-color: rgb(26, 26, 29);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  color: white;
}

.movie-title {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.movie-details-line {
  font-size: 20px;
  color: lightgrey;
}

.movie-genres .badge {
  font-size: 14px;
}

.movie-overview {
  font-size: 20px;
  margin-top: 20px;
}

.movie-cast-title {
  font-size: 24px;
  text-align: center;
  color: white;
}

.movie-cast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: white;
}

.cast-member {
  background-color: rgb(38, 38, 43);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actor-photo {
  width: 100%;
  object-fit: cover;
}

.actor-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.actor-character {
  font-size: 14px;
}

.actor-link {
  text-decoration: none;
  color: inherit;
}
