.review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  
  padding: 20px;
  font-family: Arial, sans-serif;
}

.movie-details {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  margin-bottom: 20px;
}

.movie-details img {
  width: 150px;
  height: 225px;
  border-radius: 8px;
  margin-right: 20px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.movie-details h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  margin: 0;
  color: #f0f0f0; 
}

.movie-details p {
  margin: 5px 0;
}

.reviews-section {
  width: 100%;
  max-width: 800px;
}

.reviews-section h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #030302; 
  text-align: left;
}

.review {
  background-color: #3e3a3a;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

.review h3 {
  margin: 0;
  color: #030302; 
}

.review p {
  margin: 5px 0;
}
