.signup-page {
  background-color: rgb(77, 77, 87);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.signup-container {
  background-color: rgb(26, 26, 29);
  color: #f0f0f0;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 12px;
  flex-grow: 1;
}

.signup-container h2 {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header-img {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

#site-name {
  font-size: 1.5rem;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
}

.form-group input:focus {
  border-color: #104986;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.back-to-login {
  text-align: center;
  margin-top: 15px;
}

.back-to-login a {
  color: #3d7ed3;
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}

.navbar{
  width: 100%;
}