html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 77, 87);
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(26, 26, 29);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    backdrop-filter: blur(10px);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #f0f0f0;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #f0f0f0;
    background-color: #383838;
  }

  input:focus{
    border-color: #104986; 
    background-color: #ffffff; 
    color: #333; 
  }
  
  .signup-link {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .signup-link a {
    color: #3d7ed3;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #383838;
  }
  
  .site-Header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgb(26, 26, 29); 
    z-index: 1000; 
    padding: 2px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .login-container {
    margin-top: 100px; 
  }

  .headerImg{
    width: 100px; 
    height: auto; 
    margin-right: 15px; 
  }